# Payaza API Test Keys
PAYAZA_PUBLIC_KEY=PZ78-PKTEST-5D2012FE-2B63-42C6-8ABB-27614FC0768A
PAYAZA_SECRET_KEY=PZ78-SKTEST-ACB8AD61-0A03-4DAA-A7F6-90396C4D6E23
PAYAZA_BASE_URL=https://api.payaza.africa/
