# Backend Variables
DJANGO_SECRET_KEY=your_secret_key_here
DJANGO_DEBUG=False
DJANGO_ALLOWED_HOSTS=your-app-url.up.railway.app,localhost
DATABASE_URL=postgres://user:password@host:port/dbname
CSRF_TRUSTED_ORIGINS=https://your-frontend-url.up.railway.app,https://your-backend-url.up.railway.app

# Payaza Config
PAYAZA_API_KEY=your_payaza_api_key
PAYAZA_MERCHANT_ID=your_merchant_id
PAYAZA_BASE_URL=https://api.payaza.africa/live/payaza/api/v1

# Frontend Variables
VITE_API_URL=https://your-backend-url.up.railway.app/api
